* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg: #6d6d6d;
  --accent: #e5ef4a;
  --white: #ffffff;
  --dark: #000;
  --gray: #444;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: var(--bg);
  color: var(--white);
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

/*  LEFTSIDEBAR  */

.grayBox {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-width: 70px;
  max-width: 70px;
  min-height: 100vh;
  background: #5c5c5c;
  padding: 20px 0;
}

.logoCircle {
  width: 38px;
  height: 38px;
  border: 2px solid var(--accent);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--accent);
  font-weight: bold;
}

.pause {
  font-size: 20px;
}

.slideIndex {
  margin-bottom: 20px;
}






/* GRAY BOX CONTENT */
.hero {
  margin-left: 70px;
  max-width: calc(100% - 70px);
  min-height: 100vh;
  padding: 80px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.line1,
.line3 {
  font-size: clamp(48px, 8vw, 120px);
}

.line2 {
  position: relative;
  color: var(--accent);
  font-size: clamp(48px, 8vw, 120px);
  padding-left: 250px;
  width: fit-content;
}
.strikethrough {
  text-decoration: none;
  position: relative;
}

.line3 {
  padding-left: 250px;
}

.strikethrough {
  position: relative;
}

.strikethrough::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  background: var(--accent);
  top: 50%;
  transform: translateY(-50%);
  margin: 0 -20px;
}



/* header */
.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  font-weight: bold;
  font-size: 18px;
}

.meta {
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: 13px;
  opacity: 0.8;
}

/* Toggle */
.switch {
  position: relative;
  width: 34px;
  height: 18px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  inset: 0;
  background: #999;
  border-radius: 20px;
}

.slider::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  background: #fff;
  border-radius: 50%;
  top: 2px;
  left: 2px;
  transition: 0.3s;
}

input:checked + .slider::before {
  transform: translateX(16px);
}






/* GRAYBOX */
.hero {
  margin-left: 70px;
  min-height: 100vh;
  padding: 80px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.subtitle {
  font-size: 18px;
  line-height: 160%;
  max-width: 320px;
  opacity: 0.8;
}
.letsWork {
  margin-top: 60px; 
  margin-left: 400px;  
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 200px;
}

.cta {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: none;
  background: var(--accent);
  font-weight: bold;
  cursor: pointer;
}

.scroll-down {
  margin-left: 50%;
  margin-top: 40px;
  font-size: 22px;
  color: var(--accent);
}
.videoCard {
  position: absolute;
  right: 60px;
  bottom: 80px;
  width: 291px;
  height: 160px;
  background: var(--dark);
  display: flex;
  flex-direction: column;
  
}

.playBtn {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  border: 2px solid var(--white);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.time {
  position: absolute;
  top: -20px;
  right: 0;
  font-size: 12px;
}
.videoCard small {
  margin-top: 170px;
  opacity: 0.7;
  
}



/* SOLUTIONS */
.solutions {
  width: 100%;
  min-height: 100vh;
  padding: 100px 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--dark);
}
.solutions-title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: clamp(48px, 6vw, 96px);
  line-height: 1.05;
  font-weight: 800;
  color: transparent;
  -webkit-text-stroke: 1px #444;
}
.solutions-title .line {
  display: block;
}
.highlight {
  position: relative;
  color: var(--accent);
  -webkit-text-stroke: 0;
  z-index: 1;
}

.highlight::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -1vw;
  right: -1vw;
  height: 1px;
  background: var(--accent);
  transform: translateY(-50%);
  z-index: -1;
}

.readMore {
  margin-top: 60px;
  margin-left: 150px;
  width: 130px;
  padding: 12px 0;
  background: transparent;
  border: 1px solid var(--white);
  color: var(--white);
  cursor: pointer;
  border-radius: 10px;
}

.readMore:hover {
  background: var(--accent);
  color: #000;
  border-color: var(--accent);
}



/* PROJECTS SECTION */
.projects1 {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
  width: 100%;
  background: var(--dark);
  padding: 80px;
}


.projectsHeader {
  position: relative;
  margin-bottom: 64px;
  margin-left: 100px;
}


.projectsHeader .outline {
  font-size: 64px;
  color: transparent;
  -webkit-text-stroke: 1px white;
}


.projectsTitle {
  position: relative;
  font-size: 64px;
  font-weight: 700;
  color: var(--accent);
  display: inline-block;
  z-index: 1;
  margin-left: 175px;
}


.projectsTitle::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -6.5vw;
  right: -1vw;
  height: 1px;            
  background: var(--accent);
  transform: translateY(-50%);
  z-index: -1;
}

.projectsGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px 16px;  
  margin-top: 200px;
}

.cardTop {
  width: 550px;
  height: 408px;
  background: gray;
  position: relative;
  clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%, 0 15%);
}

.number {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 168px;
  color: transparent;
  -webkit-text-stroke: 1px var(--white);
  transform: rotate(270deg);
}

.arrow {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 108px;
  height: 108px;
  border: none;
  background: rgba(0, 0, 0, 0.3);
  color: var(--white);
  font-size: 24px;
  cursor: pointer;
}
.blackCircle {
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 64px;
  height: 64px;
  background: var(--dark);
  border-radius: 50%;
}
.yellowBox {
  position: absolute;
  margin-top: 300px;
  width: 100%;
  height: 128px;
  background: var(--accent);
}

/* INFO */
.cardInfo {
  margin-top: 30px;
}

.cardInfo h3 {
  color: var(--accent);
  font-size: 24px;
  letter-spacing: 2px;
  margin-bottom: 15px;
}

.cardInfo p {
  font-size: 18px;
  color: #ccc;
  max-width: 420px;
  line-height: 1.6;
}

.cardInfo small {
  display: block;
  margin-top: 14px;
  color: #777;
}

.cardInfo li {
  font-size: 14px;
  color: white;
  margin-top: 20px;
}
.moreWorks {
  margin-top: 60px;
  width: 130px;
  padding: 12px 0;
  background: transparent;
  border: 1px solid var(--white);
  color: var(--white);
  cursor: pointer;
  border-radius: 10px;
}

.moreWorks:hover {
  background: var(--accent);
  color: #000;
  border-color: var(--accent);
}




/*  STUDIO SERVICES  */
.servicesContainerMain {
  width: 100%;
  background: var(--dark);
  display: flex;
  flex-direction: column;
}

.studioServices .outline {
  font-size: 64px;
  color: transparent;
  -webkit-text-stroke: 1px white;
}
.studioServices {
  position: relative;
  margin-left: 100px;
  margin-bottom: 64px;
}

.services1 {
  display: flex;
  gap: 100px;

  margin-left: 100px;
  padding-top: 100px;
  
}
.studioText {
  font-size: 48px;
  color: transparent;
  -webkit-text-stroke: 1px #444;
}

.serviceList {
  width: 770px;
  height: 520px;
  padding-top: 50px;
}

.serviceList li {
  padding: 15px 0;
  border-bottom: 1px solid #333;
  display: flex;
  align-items: center;
  font-size: 32px;
  font-weight: 500;
}
.serviceList li:nth-child(4) {
  color: yellow; 
  border-bottom: 1px solid #e5ef4a; 
}

.serviceNumber {
  color: rgba(128, 128, 128, 0.5);
  margin-right: 20px;
  font-weight: bold;
  font-size: 12px;
}
h1 {
  font-size: 48px;
  color: var(--accent);
  margin-left: 140px;
  gap: 30px;
}

.ctaBlock {
  width: 290px;
  height: 392px;
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%, 0 20%);
}

.ctaCircle {
  width: 108px;
  height: 108px;
  background: var(--accent);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  font-weight: 700;
  cursor: pointer;
  font-size: 12px;
}


